.chatroom-header {
  text-decoration: none;
  color: black;

}

.author {
  color: gray;
}

.chatrom-content {
  font-size: 1rem;
}

.chatroom {

  min-height: 100vh;
  background: asset-url('banner.jpg');
  background-size: cover;
  background-attachment: fixed;
}
