.chatroom-header {
  text-decoration: none;
  color: black;

}

.author {
  color: gray;
}

.chatrom-content {
  font-size: 1rem;
}

.chatroom {

  min-height: 100vh;
  background: url('fields_banner_for_home-CZ6CF44');
  background-size: cover;
  background-attachment: fixed;
}
