// Import page-specific CSS files here.
@import "home";

.index-background{
  height: 100vh;
  background: asset-url('banner.jpg');
  background-size: contain;
}
.fixed {
  right: 0;
  position: fixed;
}

.button-style-search {
  text-decoration: none;
  color: white;
  background-color: #f9b487;
  width: 100%;
  
}

