$card-beige: rgb(250, 247, 242);
.subscription {
  background-color: $card-beige;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba($color: #000000, $alpha: 0.15);
}
.small-text {
  font-size: 1rem;
  margin: 0 0;
}