<div class="container">
<h1>Add options to answer your poll <%= @poll.title %> </h1>
<%= simple_form_for [@poll, @poll_option] do |f| %>
  <%= f.input :content, label: false, placeholder: "Answer option" %>
  <%= f.button :submit %>
<% end %>
</div>
