<div class="home-page">
  <div class="container">
      <div class="container home-banner">
      <div class="col-12 col-sm-6 my-auto">
        <h2 class="home-title-project home-header">Welcome to our page</h2>
        <p class="header-small-text">Our projects are carefully selected to make you happy and rich</p>
      </div>
      <div class="col-12 col-sm-6 my-auto">
      <%= link_to "Explore opportunities", @project, class:"btn button-style btn-block rounded-0 text-center" %>
      </div>
        
      </div>
  </div>
</div>