<div class="container">
  <h1>Create a new poll</h1>
  <h4>Project name: <%= @chatroom.project.name %></h4>
  <%= simple_form_for [@chatroom, @poll] do |f| %>
    <%= f.input :title, label: false, placeholder: "Question" %>
    <%= f.button :submit %>
  <% end %>
</div>
