
<% @projects.each do |project| %>
  <% @project = project  %>
  <div class="row bg-dark"></div>
    <div class="col-6">
      <%= render partial: "projects/project-card", locals: { project: @project} %>
    </div>
  </div>
<% end %>
