  <div class="row d-flex justify-content-center ml-5 pl-5">
    <% @projects.each do |project| %>
      <% @project = project  %>
      <div class="col-lg-6 mb-5">
        <%= render partial: "projects/project-card", locals: { project: @project} %>
      </div>
    <% end %>
  </div>

