.map-info-window {
  font-family: 'Montserrat';
  margin: auto 0;
  
  p {
    margin: 0;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
  }
  
  .map-popup-title {
    
    color: rgb(51, 23, 0);
    text-decoration: none;
    font-size: 15px;
    line-height: 1rem;
  }
  
  .map-popup-numbers {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .map-popup-text {
    line-height: 1rem;
    
  }
}

.card-image {
  width: 100%;
}



