.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.map-popup-title {
  color: rgb(51, 23, 0);
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  line-height: 1rem;
}

.map-popup-text {
  margin: 0;
  line-height: 1rem;

}



