.form-login {
  background: white;
  padding: 20px 10px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin-left: 100px;
  margin-right: 100px;

}

.button-style-quiz {
  text-decoration: none;
  color: white;
  background-color: #f9b487;
  width: 200px;
  margin-left: 1px;
  margin-top: 15px;
}


.processing__item {
  width: 280px;
  height: 280px;
  transform: scaleX(-1) rotate(
0deg
);
  margin-top: px;
  margin-left: 580px;
  margin-top: -250px;
}